<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @@include('@@webRoot/include/com_head.html')
    <link rel="stylesheet" href="./css/index.css?@version">
    <title>hello-world</title>
</head>
<body>
    <h1>Hello World</h1>

    @@include('@@webRoot/include/com_body.html')

    <script src="./js/index.js?@version"></script>
    @@include('@@webRoot/include/com_bottom.html')
</body>
</html>